@charset "utf-8";

/************************************************
 共通設定
************************************************ */
/* ==============================================
 フレーム
=============================================== */
#container {
    padding-top: 1rem;
}


/* ==============================================
 ユーティリティ
=============================================== */
/* フォント
----------------------------------------------- */
.attention {
    color: #dc3545 !important;
}

/* タイトル
----------------------------------------------- */
#undercolumn h2.title {
    margin-bottom: 1.5rem;
}
.side_column h3.card-header {
    font-size: 1.2rem;
}


/* ==============================================
ブロック共通
    * #container から指定することで、ヘッダー・フッターには適用していない。
/* ============================================= */

/* 外枠
----------------------------------------------- */
.block_outer {
    margin-bottom: 1rem;
}


/* ***********************************************
▼各機能ブロックの指定
/*********************************************** */
